article {
  display: flex;
  align-items: center;
  margin: 3em 0;
}

article > img {
  min-width: 200px;
  height: 100%;
}

.card {
  margin-left: 4em;
  border: 1px solid #eeeeee;
}

.card-title {
  padding: 1em 1em 0.4em 1em;
  background: #eeeeee;
  font-weight: 700;
}

.card-info{
  display: flex;
  justify-content: space-between;
  padding: 0 1em 1em 1em;
  background: #eeeeee;
  color: #888888;
}

.card-content {
  padding: 1em;
}
