/* element */

article {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 3em 0;
}

article > img {
  min-width: 200px;
  height: 100%;
}

/* class */

.school {
  margin-left: 4em;
  border: 1px solid #eeeeee;
}

.school-name {
  padding: 1em 1em 0.4em 1em;
  background: #eeeeee;
  font-weight: 700;
}

.school-degree {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 1em 1em;
  background: #eeeeee;
  color: #888888;
}

.school-info {
  padding: 1em;
}
