body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  margin: 0;
  color: #333333;
}

article {
  width: 80%;
}

a {
  position: relative;
  color: #777777;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #588c7e;
  color: #ffffff;
}

h1 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 7em;
  letter-spacing: 0.03em;
  margin: 0.2em 0 0 0;
  text-align: center;
}

h2 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: 0.03em;
  margin: 0.2em 0 0 0;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 0.03em;
  margin: 0;
  text-align: center;
}

h4 {
  margin: 0;
  font-size: 1.2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-gray {
  color: #333333;
}

.fa-green {
  color: #588c7e;
}

.fa-red {
  color: #8c5858;
}

#header-full {
  min-height: 100vh;
}

#header-small {
  min-height: 40vh;
}

#header-img {
  margin-top: 6em;
  border-radius: 50%;
}