nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  z-index: 999;
  color: #ffffff;
}

a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.nav-item {
  display: inline;
  padding: 0 1em;
}

.nav-link:before {
  content: '';
  position: absolute;
  width: 75%;
  height: 1px;
  bottom: -0.2em;
  left: 12.5%;
  background-color: #ffffff;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#nav-img {
  padding: 1em;
  border-radius: 50%;
  opacity: 1;
}

#nav-img-home {
  padding: 1em 1.5em;
  border-radius: 50%;
  opacity: 0;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7em;
  transition: height 0.5s;
}

#nav-bar.nav-bar-collapsed {
  height: 3em;
  background: rgba(37, 89, 75, 0.7);
}

#nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

#nav-list-responsive {
  display: none;
}

#nav-responsive-button {
  display: none;
  padding: 1em;
}

@media screen and (max-width: 600px) {
  #nav-responsive-button {
    display: block;
  }

  #nav-list {
    display: none;
  }
}