---
title: Contact
headerTop: Contact me!
headerBottom: I'll get back to you soon.
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="css/contact.css">
  <script src="js/contact.js"></script>
</head>

<body>

  {% include nav.html %}

  {% include header.html %}

  <main>
    <form name="contact" id="contact" action="">
      <p class="form-group">
        <label for="firstName">First name <span id="first-name-valid"><i id="first-name-icon" class="valid-icon"></i></span></label>
        <input type="text" id="firstName" name="firstName">
      </p>
      <p class="form-group">
        <label for="lastName">Last name <span id="last-name-valid"><i id="last-name-icon" class="valid-icon"></i></span></label>
        <input type="text" id="lastName" name="lastName">
      </p>
      <p class="form-group">
        <label for="email">Email <span id="email-valid"><i id="email-icon" class="valid-icon"></i></span></label>
        <input type="text" id="email" name="email">
      </p>
      <p class="form-group">
        <label for="message">Message <span id="message-valid"><i id="message-icon" class="valid-icon"></i></span></label>
        <textarea id="message" name="message"></textarea>
      </p>
      <p class="form-group button-group">
        <button type="submit" id="submit">Submit</button>
        <button type="reset" id="reset">Reset</button>
      </p>
    </form>
  </main>

  {% include footer.html %}

</body>

</html>