---
title: Education
headerTop: I went to school!
headerBottom: Here's some things I learned.
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="css/education.css">
</head>

<body>

  {% include nav.html %}

  {% include header.html %}

  <main>

    {% assign orderedSchools = site.schools | sort:"order" | reverse %}
    {% for school in orderedSchools %}
    {% include school.html %}
    {% endfor %}

  </main>

  {% include footer.html %}

</body>

</html>