<footer>
  <ul class="footer-list">
    <li class="footer-item"><a class="footer-link" href="https://twitter.com/ryanlaclair"><i class="fa fa-twitter fa-lg fa-gray"></i></a></li>
    <li class="footer-item"><a class="footer-link" href="https://www.linkedin.com/in/ryan-laclair-60065242/"><i class="fa fa-linkedin fa-lg fa-gray"></i></a></li>
    <li class="footer-item"><a class="footer-link" href="https://github.com/ryanlaclair"><i class="fa fa-github fa-lg fa-gray"></i></a></li>
  </ul>
  <p id="footer-copyright">&copy; All Rights Reserved</p>
</footer>